<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.eduid"
    tools:ignore="UnusedAttribute">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!-- Permissions for QR code scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <intent>
            <!-- Required starting from API 30 to check customtabs-support -->
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application
        android:name="nl.eduid.EduIdApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/backup_descriptor_v31"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.tiqr.core.MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.Splash"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${tiqr_config_enroll_scheme}" />
                <data android:scheme="${tiqr_config_auth_scheme}" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="eduid.nl"
                    android:scheme="https" />

                <!-- We accept the path both with and without the slash -->
                <data android:path="/${tiqr_config_auth_path_param}" />
                <data android:path="/${tiqr_config_enroll_path_param}" />
                <data android:path="/${tiqr_config_auth_path_param}/" />
                <data android:path="/${tiqr_config_enroll_path_param}/" />
            </intent-filter>
        </activity>

        <service
            android:name="org.tiqr.core.messaging.TiqrMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="tiqr_config_base_url"
            android:value="${tiqr_config_base_url}" />
        <meta-data
            android:name="tiqr_config_protocol_version"
            android:value="${tiqr_config_protocol_version}" />
        <meta-data
            android:name="tiqr_config_protocol_compatibility_mode"
            android:value="${tiqr_config_protocol_compatibility_mode}" />
        <meta-data
            android:name="tiqr_config_enroll_path_param"
            android:value="${tiqr_config_enroll_path_param}" />
        <meta-data
            android:name="tiqr_config_auth_path_param"
            android:value="${tiqr_config_auth_path_param}" />
        <meta-data
            android:name="tiqr_config_enroll_scheme"
            android:value="${tiqr_config_enroll_scheme}" />
        <meta-data
            android:name="tiqr_config_auth_scheme"
            android:value="${tiqr_config_auth_scheme}" />
        <meta-data
            android:name="tiqr_config_token_exchange_enabled"
            android:value="${tiqr_config_token_exchange_enabled}" />
        <meta-data
            android:name="tiqr_config_enforce_challenge_hosts"
            android:value="${tiqr_config_enforce_challenge_hosts}" />

    </application>
</manifest>
