<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="UnusedAttribute">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!-- Permissions for QR code scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <intent>
            <!-- Required starting from API 30 to check customtabs-support -->
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application
        android:name="nl.eduid.EduIdApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/backup_descriptor_v31"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">

        <activity-alias
            android:name="org.tiqr.core.MainActivity"
            android:exported="true"
            android:targetActivity=".MainComposeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <service
            android:name=".messaging.EduIdMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="tiqr_config_base_url"
            android:value="${tiqr_config_base_url}" />
        <meta-data
            android:name="tiqr_config_protocol_version"
            android:value="${tiqr_config_protocol_version}" />
        <meta-data
            android:name="tiqr_config_protocol_compatibility_mode"
            android:value="${tiqr_config_protocol_compatibility_mode}" />
        <meta-data
            android:name="tiqr_config_enroll_path_param"
            android:value="${tiqr_config_enroll_path_param}" />
        <meta-data
            android:name="tiqr_config_auth_path_param"
            android:value="${tiqr_config_auth_path_param}" />
        <meta-data
            android:name="tiqr_config_enroll_scheme"
            android:value="${tiqr_config_enroll_scheme}" />
        <meta-data
            android:name="tiqr_config_auth_scheme"
            android:value="${tiqr_config_auth_scheme}" />
        <meta-data
            android:name="tiqr_config_token_exchange_enabled"
            android:value="${tiqr_config_token_exchange_enabled}" />
        <meta-data
            android:name="tiqr_config_enforce_challenge_hosts"
            android:value="${tiqr_config_enforce_challenge_hosts}" />

        <activity
            android:name=".MainComposeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/ComposeAppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity">
            <!--            Launcher is declared via the alias-->
            <intent-filter>
                <action android:name="authorize_response" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--Moved the deep linking from the current app to the redesigned screens-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${tiqr_config_enroll_scheme}" />
                <data android:scheme="${tiqr_config_auth_scheme}" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--All environments will use the same host for auth & enroll, not required to support subdomains-->
                <data
                    android:host="eduid.nl"
                    android:scheme="https" />

                <!-- We accept the path both with and without the slash -->
                <data android:path="/${tiqr_config_auth_path_param}" />
                <data android:path="/${tiqr_config_enroll_path_param}" />
                <data android:path="/${tiqr_config_auth_path_param}/" />
                <data android:path="/${tiqr_config_enroll_path_param}/" />
            </intent-filter>
            <!--
            Change email confirmation link: The link in the validation email is https://login.{environment}.eduid.nl/client/mobile/update-email?h=={{hash}}with an unique 'h' query param which must be used in 'mobile/api/sp/confirm-email' to confirm the update.
            If the URL is not properly intercepted by the eduID app, then the browser app redirects to eduid://client/mobile/confirm-email?h={{hash}}-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.eduid.nl"
                    android:pathPrefix="/client/mobile/update-email"
                    android:scheme="https" />

            </intent-filter>
            <!--            In case we need to support the custom scheme while on mobile?-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:path="/client/mobile/update-email"
                    android:scheme="eduid" />

            </intent-filter>
            <!--
            Sent the user a mail with a link for the user to change their password.
             Reset password: Link in the validation email is https://login.{environment}.eduid.nl/client/mobile/reset-password?h={{hash}} if the user already had a password.
             Add password: https://login.{environment}.eduid.nl/client/mobile/add-password?h={{hash}}
             If the URL is not properly intercepted by the eduID app, then the browser app redirects to eduid://client/mobile/reset-password?h={{hash}}
             -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.eduid.nl"
                    android:pathPrefix="/client/mobile/reset-password"
                    android:scheme="https" />

            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.eduid.nl"
                    android:pathPrefix="/client/mobile/add-password"
                    android:scheme="https" />

            </intent-filter>
            <!--            In case we need to support the custom scheme while on mobile?-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:path="/client/mobile/reset-password"
                    android:scheme="eduid" />

            </intent-filter>
            <!--
            Scheme for account created redirect
            Create an eduID account and sent a verification mail to the user to confirm the ownership of the
            email. Link in the validation email is https://login.{environment}.eduid.nl/mobile/api/create-from-mobile-api?h=={{hash}}
            which must NOT be captured by the eduID app.
            After the account is finalized server-side the user is logged in and the server redirects
            to https://login.{environment}.eduid.nl/client/mobile/created
            If the URL is not properly intercepted by the eduID app, then the browser app redirects
            to eduid://client/mobile/created?new=true
            -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.eduid.nl"
                    android:path="/client/mobile/created"
                    android:scheme="https" />

            </intent-filter>
            <!--
            Schemes for account linked:
                Success: https://login.{environment}.eduid.nl/client/mobile/account-linked
                Failure, EPPN already linked: https://login.{environment}.eduid.nl/client/mobile/eppn-already-linked?email=jdoe%40example.com
                Failure, session expired: https://login.{environment}.eduid.nl/client/mobile/expired
            -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.eduid.nl"
                    android:path="/client/mobile/account-linked"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.eduid.nl"
                    android:pathPrefix="/client/mobile/eppn-already-linked"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.eduid.nl"
                    android:path="/client/mobile/expired"
                    android:scheme="https" />
            </intent-filter>
            <!-- The current test2 environment is using a custom scheme for the account created redirect -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:path="/client/mobile/created"
                    android:scheme="eduid" />

            </intent-filter>
        </activity>

        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="eduid.nl"
                    android:pathPrefix="/client/mobile/oauth-redirect"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPrefix="/client/mobile/oauth-redirect"
                    android:scheme="eduid" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.biometric.SignInWithBiometricsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />
    </application>
</manifest>
