<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="UnusedAttribute">

    <application
        android:name="nl.eduid.DebugEduIdApplication"
        android:allowBackup="false"
        tools:ignore="DataExtractionRules"
        tools:replace="android:allowBackup, android:name">
        <activity
            android:name=".MainComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/ComposeAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="authorize_response" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <!--Duplicating this link so enrollment can happen via link/notification for the compose screens as well-->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="eduid.nl"
                    android:scheme="https" />
                <data android:path="/tiqrenroll" />
                <data android:path="/tiqrenroll/" />
                <data android:path="/tiqrauth" />
                <data android:path="/tiqrauth/" />
            </intent-filter>
            <!-- Unverified (for now) redirect for account created-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="login.test2.eduid.nl"
                    android:scheme="https" />

                <!-- We accept the path both with and without the slash -->
                <data android:path="/client/mobile" />
                <data android:path="/client/mobile/" />
            </intent-filter>
            <!--Custom scheme for account created redirect-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:path="/client/mobile/created"
                    android:scheme="eduid" />

            </intent-filter>
            <!--Custom scheme for account linked-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="login.test2.eduid.nl"
                    android:pathPrefix="/client/mobile/account-linked"
                    android:scheme="https" />

            </intent-filter>
        </activity>

        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="eduid.nl"
                    android:pathPrefix="/client/mobile/oauth-redirect"
                    android:scheme="https" />
            </intent-filter>

        </activity>
        <activity
            android:name=".screens.biometric.SignInWithBiometricsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />
    </application>
</manifest>