<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.eduid"
    tools:ignore="UnusedAttribute">

    <application
        android:name="nl.eduid.DebugEduIdApplication"
        android:allowBackup="false"
        tools:ignore="DataExtractionRules"
        tools:replace="android:allowBackup, android:name">
        <activity
            android:name=".MainComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:launchMode="singleInstance"
            android:theme="@style/ComposeAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="authorize_response" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${appAuthRedirectScheme}"
                    android:path="/client/mobile/created"
                    android:scheme="https" />

            </intent-filter>
        </activity>
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="client"
                    android:path="/mobile/oauth-redirect"
                    android:scheme="eduid" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:path="/logout"
                    android:scheme="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.biometric.SignInWithBiometricsActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />
    </application>
</manifest>
