name: Debug Build
on:
  pull_request:
  push:
    branches:
      - main
# Where will they run
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-java@v2
      with:
        java-version: 11
        distribution: 'temurin'
        cache: 'gradle'
    - name: Build APK
      run: bash ./gradlew assembleDebug --stacktrace
    - name: Upload APK
      uses: actions/upload-artifact@v1
      with:
        name: apk
        path: app/build/outputs/apk/production/debug/app-production-debug.apk
